body {
  color: #3b3e47;
  background: #3b3e47
}

.dataTables_filter {float: left; position: absolute;}
.dataTables_filter input { max-width:90px;}

.roundbox{border-radius:4px;border:1px solid #AAAAAA;}

  .blink {
      animation: blink 2s steps(5, start) infinite;
      -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }

.pnotify-center {
   right: calc(50% - 150px) !important;
}

.ui-select-match-text{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}
.ui-select-toggle > .btn.btn-link {
  margin-right: 10px;
  top: 6px;
  position: absolute;
  right: 10px;
}


.fancytree-plain` span.fancytree-selected span.fancytree-title {
  background-color: yellow;
  color: black;
}

.fancytree-plain span.fancytree-active span.fancytree-title {
  background-color: blue;
  color: white;
}

.quota-form-input {
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Workaround to fix select2 placeholder cut off
 * https://github.com/select2/select2/issues/291
 * https://github.com/kartik-v/yii2-widgets/issues/324
 */
.select2-search, .select2-search__field {
  width: 100% !important;
}

table.dataTable td.details-show > button > i:before,
table.dataTable td.details-control > button > i:before {
	content: '\f067';
	font-family: FontAwesome;
	cursor: pointer;
	color: white;
}

table.dataTable tr.shown td.details-show > button > i:before,
table.dataTable tr.shown td.details-control > button > i:before {
	content: '\f068';
	color: white;
}

.howto-desktops {
  background-color:rgb(238, 238, 238);
  cursor: pointer;
  padding: 5px 17px;
}

.x_title h4, h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.x_panel {
  border: none
}

/* Sidebar */

.sidebar-footer {
  background: #3b3e47;
}

#menu_toggle {
  color: #3b3e47;
}

.logo_white {
  filter: invert(1);
}

.left_col {
  background: #3b3e47;
}

.nav.side-menu>li.active>a {
  background: #3b3e47;
}

.nav_title {
  background: #3b3e47;
}

.nav_menu {
  padding: 10px;
  background: white;
  height: 75px;
  max-height: 75px;
}

.nav_menu_logo {
  margin-top: 5px;
  width: 100;
  height: 45px;
}